player-connection-mode=Listen
player-connection-guid=1535474667
player-connection-debug=0
player-connection-project-name=American Greetings
player-connection-ip=192.168.100.9
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=80bc24e7a34c49289cde80cb5971eb7d
